[2017-04-13 17:21] tdhartwick opened #56 "Reduce Padding on Kits Page."
Padding on the top of the Kits Page should have reduced padding.

Maybe:
[code]

[2017-04-13 17:23] tdhartwick opened #57 "Share dropdown should have a shadow or border"
Should be differentiated visually somehow on active.

See:

<img width="121" alt="screen shot 2017-04-13 at 10 22 02 am" src="https://cloud.githubusercontent.com/assets/7873403/25016026/3c1f1940-2033-11e7-9fb7-1ae2e8929e6c.png">

[2017-04-13 17:37] LaurelBCodin opened #58 "Container vs Containers inconsistent"
The Containers name seems to be inconsistent with some of the bb posts. I dont know if this is breaking anything but some (alot of my first bbs) say container -without the s. These all need to be altered to Containers < with an s. thank!

[2017-04-13 17:38] tdhartwick opened #59 "Favorite Heart Icon on Individual BB Page Should Be Solid when Active"
When the user favorites on an individual BB page, the Icon should be filled solid blue.

[2017-04-13 20:34] tdhartwick opened #61 "Building blocks default to 0 likes until activated by a like."
All building block cards are set to 0 likes, until the user likes the building block. Once the user has liked the building block, the correct number of likes gets updated.

[2017-04-13 21:00] #61 closed

[2017-04-13 21:46] kball opened #63 "Make it more obvious what techs are required"
Right now many building blocks depend on flexbox, some of the more experimental ones depend on CSS grid. We should figure out a way to make this more obvious both visually and potentially within the CLI installation process.

@jkfcheng @tdhartwick

[2017-04-14 02:13] HansUXdev opened #66 "miss typing a block name will add incorrect name in app.scss"
Lets say I want to install the following
[code]
But someone types:
[code]

This obviously wont download anything but it will automatically add the following to you app.scss
[code]
which cause throws error because that file doesn't exist.

[2017-04-14 08:30] abdullahsalem commented on #56
Yes, I agree @tdhartwick.

[2017-04-14 16:56] tdhartwick commented on #56
thanks!

[2017-04-14 16:56] #56 closed

[2017-04-14 17:51] jkfcheng opened #70 "how-to page back button"
how-to page needs to be able to go back to the individual building block it came from or back to the building block page. Right now the browser back button doesn't work on that page.

[2017-04-14 17:58] kball opened #71 "Readme images broken"

[2017-04-14 18:07] kball commented on #66
Nice catch, will fix

[2017-04-14 18:36] rafibomb opened #72 "All BB's need to have to Foundation Profile linked"
In the yml, audit all BB's to make sure profile is linked to give credit to the person.

[2017-04-14 18:37] rafibomb commented on #71
I need to do another pass with new content. Will do it today!

[2017-04-14 20:58] tdhartwick commented on #63
@jkfcheng put this on your radar, let me know if you'd like help through this!

[2017-04-14 22:43] rafibomb opened #75 "Need to add instruction for EACCESS CLI error in BB docs"
like run sudo npm i ...

[2017-04-14 22:48] kball opened #76 "Cachebust assets"
On build time we should add a cachebuster timestamp for app scss and js

[2017-04-14 23:13] rafibomb opened #77 "Add sample yml file in BB folder"
With comments for each section

[2017-04-14 23:39] kball commented on #66
I just published a fix for that in foundation-cli... should be fixed if you update your version of the foundation-cli to 2.2.1

[2017-04-14 23:39] #66 closed

[2017-04-14 23:55] canterberrie opened #78 "Create new BB: Topbar with Responsively Hidden Links"
This is a Building Block for our upcoming News/Magazine Kit. For anyone who wants to contribute some building blocks to the site, feel free to assign this to yourself to let us know you're taking this one on!

**Interaction:** A news site might have tons of categories linked in the topbar. This topbar should nest links in a dropdown as the screen gets smaller.

**Example:**
<img width="659" alt="s

[2017-04-15 00:06] canterberrie opened #79 "Create new BB: Sticky Share Links"
This is a Building Block for our upcoming News/Magazine Kit. For anyone who wants to contribute some building blocks to the site, feel free to assign this to yourself to let us know you're taking this one on!

**Description/Interaction:** A simple list of share links that will stay on the page as someone scrolls through a news article.

**Example:**
![screen shot 2017-04-14 at 4 41 39 pm](https://

[2017-04-15 00:15] IamManchanda commented on #79
I want to take this up @kball @canterberrie

[2017-04-15 00:21] canterberrie commented on #79
@IamManchanda Go for it!

[2017-04-15 00:27] canterberrie opened #80 "Create new BB: Hero Section with Side Links"
This is a Building Block for our upcoming News/Magazine Kit. For anyone who wants to contribute some building blocks to the site, feel free to assign this to yourself to let us know you're taking this one on!

**Description/Interaction:** A hero section with a featured article on one side and article links on the other.

**Example:**
![screen shot 2017-04-14 at 5 14 46 pm](https://cloud.githubuser

[2017-04-15 00:28] IamManchanda commented on #79
@canterberrie .... yeah sure ... but i need one clearity ....
do i need to just design it or also interact with the api's of social sites
For example => https://developers.facebook.com/docs/plugins/share-button/

[2017-04-15 00:32] IamManchanda commented on #80
@canterberrie Sounds kinda easy .... will wait .... for others to look into this ....
If no one will take this up .... I will go for it!

[2017-04-15 00:33] canterberrie commented on #79
@IamManchanda No need to hook up the api's.

[2017-04-15 00:39] canterberrie opened #81 "Create new BB: Small News Article Thumbnails (3-up)"
This is a Building Block for our upcoming News/Magazine Kit. For anyone who wants to contribute some building blocks to the site, feel free to comment below to let us know you're taking this one on!

**Description/Interaction:** Simple article links on the homepage of a news site. Should include at least: an image, a tag, and a header. Can also include author and publish date if you want. Have fun

[2017-04-15 00:47] IamManchanda commented on #81
@canterberrie taking this up too .... as i have made this in the past!

[2017-04-15 00:50] canterberrie opened #82 "Create new BB: Subscription Form"
This is a Building Block for our upcoming News/Magazine Kit. For anyone who wants to contribute some building blocks to the site, feel free to comment below to let us know you're taking this one on!

**Description/Interaction:** Just a simple subscription form. Should include a header, a subheader, and an email field.

**Example:**
![screen shot 2017-04-14 at 4 41 52 pm](https://cloud.githubuserco

[2017-04-15 00:52] canterberrie commented on #81
@IamManchanda Awesome! Appreciate it =)

[2017-04-15 01:20] IamManchanda commented on #78
hmmmnnn... http://codepen.io/IamManchanda/pen/ZKYwPJ
Taking this up @canterberrie @kball

[2017-04-15 10:52] abdullahsalem commented on #59
@tdhartwick You're right. But I think the current SVG cannot be filled as we expected because the Compound-Paths were drawn as the following:
![like-icon](https://cloud.githubusercontent.com/assets/177020/25063013/a5559aa6-21e1-11e7-9eba-aa330b6b0272.png)
So when we fill that path `fill: blue`, we actually fill that a little inner pace -as shown above- not the whole inner heart. Therefore, I think

[2017-04-15 16:59] IamManchanda commented on #79
PR is up #85!

[2017-04-15 20:02] rafibomb commented on #79
@IamManchanda wow this is pretty awesome! Good use of Sass `@if` statements!

[2017-04-15 20:09] IamManchanda commented on #79
@rafibomb I am a Php Guy First  .... We backend heads have Conditional's always in mind :D

[2017-04-15 20:21] IamManchanda commented on #81
PR is up #86

[2017-04-16 07:51] IamManchanda commented on #78
PR is up #87

[2017-04-16 09:14] IamManchanda commented on #79
Also @rafibomb ... i am totally confused about YML thing .... so will be great if you can look into it within my PR's !

[2017-04-16 10:46] IamManchanda commented on #80
@canterberrie .... Looked around and seems like this is already added by @abdullahsalem

http://foundation.zurb.com/building-blocks/blocks/featured-blog-posts-panel-iframe.html
=> **Jump to Featured Posts (Grid)**

![featured-post-panel-grid](https://cloud.githubusercontent.com/assets/4970624/25070570/d7232808-22bf-11e7-8fea-dffbad7a443b.png)

[2017-04-16 11:25] IamManchanda opened #88 "[Material Design] Create New BB Kit: Material Design Components"
Yes Foundation loves Flat Design but this could be gold

https://material.angular.io/components
http://www.material-ui.com/#/components/app-bar

cc / @rafibomb @kball for decision on this

**PS**: My hands are itching to start working on it!

[2017-04-16 11:29] IamManchanda commented on #88
Also if this is approved,
can i use Material icon library => https://material.io/icons/
instead of font awesome or foundation icons for this ??

[2017-04-16 15:34] IamManchanda opened #90 "Reminder: Building Blocks - Image Lightbox"
https://github.com/zurb/foundation-sites/issues/9693

So kev .... can you look into it now?

[2017-04-16 18:08] AllyReid commented on #82
Hi,

I would like to take a look at this one. Let me know if that's cool.

[2017-04-16 18:14] IamManchanda commented on #82
Go for it @AllyReid

[2017-04-16 19:25] AllyReid commented on #82
added PR https://github.com/zurb/building-blocks/pull/91

[2017-04-17 16:08] rafibomb opened #96 "JS copy button is not working"
Clicking the JS copy code button does not copy and does not change state to copied.

[2017-04-17 16:21] canterberrie commented on #80
@IamManchanda You're right, must have missed it! Thanks for pointing this out. Closing this PR now.

[2017-04-17 16:25] rafibomb commented on #57
Thanks @abdullahsalem for the PR! Closing in favor of https://github.com/zurb/building-blocks/pull/83

[2017-04-17 16:25] #57 closed

[2017-04-17 16:56] rafibomb commented on #80
It wouldn't hurt to add this one separately and re-arrange the components. @abdullahsalem can you add this?

[2017-04-17 17:11] brentswisher opened #97 "Github Repo description links to 404"
The description of the building-blocks repo links to http://foundation.zurb.com/building-blocks.html which is a 404, it should link to http://foundation.zurb.com/building-blocks/

[2017-04-17 17:18] canterberrie commented on #88
It looks like this exists on github already: https://eucalyptuss.github.io/material-foundation/

Itt would be really cool to have a Kit for this! Could be a good opportunity to collaborate with them to make this happen.

[2017-04-17 17:25] IamManchanda commented on #88
Yeah sure @canterberrie !

[2017-04-17 17:30] IamManchanda commented on #97
Thanks @brentswisher
cc / @rafibomb .... can you into this ?

[2017-04-17 17:46] canterberrie opened #98 "Create new BB: Polls"
This is a Building Block for our upcoming News/Magazine Kit. For anyone who wants to contribute some building blocks to the site, feel free to comment below to let us know you're taking this one on!

**Description/Interaction:** A simple poll area that asks readers for their opinion on something. The poll should include at least: a header (to ask a question), radio buttons / checkboxes (a variatio

[2017-04-17 17:50] canterberrie opened #100 "Create new BB: Block Quote"
This is a Building Block for our upcoming News/Magazine Kit. For anyone who wants to contribute some building blocks to the site, feel free to comment below to let us know you're taking this one on!

**Description/Interaction:** A simple block quote that within a body of text. Would be great to have a left-aligned, right-aligned, and full width block quote.  Use category "media" in the YML file.

[2017-04-17 17:50] tdhartwick commented on #96
https://github.com/zurb/building-blocks/pull/99

[2017-04-17 17:58] canterberrie opened #101 "Create new BB: About the Author"
This is a Building Block for our upcoming News/Magazine Kit. For anyone who wants to contribute some building blocks to the site, feel free to comment below to let us know you're taking this one on!

**Description/Interaction:** A section about the author of an article, usually found at the bottom of a news article. The Building Block should have a header, image, paragraph text, and a space for th

[2017-04-17 18:03] kball opened #102 "build error handling needs to be better"
Right now things like typos and misnamed items lead to obscure build failures... we need to do better error handling and reporting

[2017-04-17 18:15] rafibomb opened #105 "Building Blocks Releated content only showing 2 cards"
Should be 3 cards
![screen shot 2017-04-17 at 11 15 19 am](https://cloud.githubusercontent.com/assets/5652085/25098930/323ae52e-235f-11e7-9f92-795474d9d00f.png)

[2017-04-17 18:48] rafibomb commented on #80
Oh sorry -  i see that is below. Would be good to have them as two separate ones still. Thoughts?

[2017-04-17 19:41] IamManchanda commented on #100
@canterberrie Just on the idea
How about nesting [blockquote](http://foundation.zurb.com/sites/docs/typography-base.html#blockquotes) into a [callout](http://foundation.zurb.com/sites/docs/callout.html)
as similar to this => http://codepen.io/IamManchanda/pen/gWaOjP

[2017-04-17 19:49] IamManchanda commented on #80
Yes @rafibomb

[2017-04-17 20:01] #79 closed

[2017-04-17 20:04] canterberrie commented on #100
@IamManchanda I think that's fine as long as the Building Block has the flexibility of left-aligning and right-aligning within a body of text.

[2017-04-17 20:49] rafibomb opened #106 "Product Image Gallery layout issue"
PRODUCT IMAGE GALLERY menu for thumb links is vertical instead of horizontal
![screen shot 2017-04-17 at 1 49 04 pm](https://cloud.githubusercontent.com/assets/5652085/25104318/a406a0c0-2374-11e7-88af-310adac1384a.png)

[2017-04-17 21:04] IamManchanda commented on #98
PR is up #107

[2017-04-17 21:15] #81 closed

[2017-04-17 21:24] #78 closed

[2017-04-17 21:54] #76 closed

[2017-04-17 22:05] kball commented on #96
Fixed by #99

[2017-04-17 22:05] #96 closed

[2017-04-17 22:09] #105 closed

[2017-04-17 22:11] #98 closed

[2017-04-17 22:12] #77 closed

[2017-04-17 22:41] rafibomb commented on #97
Thanks! Fixed!

[2017-04-17 22:41] #97 closed

[2017-04-17 22:42] rafibomb commented on #82
@AllyReid Merged! Thanks!

[2017-04-17 22:42] #82 closed

[2017-04-17 22:44] rafibomb commented on #88
@IamManchanda Yes - make sense to use the material icon library for it. Are you using Material Design in your work?

[2017-04-17 22:45] IamManchanda commented on #88
Unfortunately not @rafibomb

[2017-04-18 16:03] IamManchanda opened #112 "[Docs] Bug - Wrong Image Linking"
The image are linked wrongly with google drive links which is surely not working!

![bug-docs-image](https://cloud.githubusercontent.com/assets/4970624/25140642/aa1a78dc-247e-11e7-838b-6856bb75c58f.png)

[2017-04-18 16:25] #112 closed

[2017-04-18 16:30] IamManchanda commented on #71
done

[2017-04-18 16:30] #71 closed

[2017-04-18 16:51] IamManchanda opened #115 "[Bug] `NPM Start` is Failing"
The build is failing and server can't be started

As a check .... i started foundation sites and its working properly

Poke @kball @rafibomb for the bug fix

Here is the errors log

[code]

[2017-04-18 17:00] kball commented on #115
I'm not seeing the failure... could be the node version (we've been recommending 6 series, not 7 series), or something else... is there any more log that you can share? Not seeing much in this stack trace.

Also have you rerun npm install since pulling? There might be a package difference

[2017-04-18 17:07] IamManchanda commented on #115
Yup NPM Install and chmod 777 did the trick!
Closing this ..... thanks @kball

[2017-04-18 17:07] #115 closed

[2017-04-18 19:19] IamManchanda commented on #101
PR is up #117

[2017-04-19 16:32] rafibomb opened #122 "TopBar logo alignment in IE11"
![screen shot 2017-04-19 at 9 31 20 am](https://cloud.githubusercontent.com/assets/5652085/25191038/15077c3a-24e3-11e7-8dd0-afa250a15169.png)

[2017-04-19 16:34] rafibomb opened #123 "Clicking into BB's in IE11 opens new tab"
Instead of just linking to new page.

[2017-04-19 18:02] rafibomb opened #124 "Search field position issue Safari"
![screen shot 2017-04-19 at 10 59 55 am](https://cloud.githubusercontent.com/assets/5652085/25194551/9ceef46e-24ef-11e7-809f-777dcf425d45.png)

[2017-04-19 18:02] tdhartwick opened #125 "Activating search bar on Safari has incorrect positioning."
Repeatable on Safari Version 10.1 (12603.1.30.0.34).

Just click the search bar to see the issue.

<img width="841" alt="screen shot 2017-04-19 at 11 00 05 am" src="https://cloud.githubusercontent.com/assets/7873403/25194517/7a5bee70-24ef-11e7-86fa-1893941b8d0f.png">

[2017-04-19 18:13] #125 closed

[2017-04-19 18:15] rafibomb commented on #124
fixed https://github.com/zurb/building-blocks/commit/56aca632b2367ffffd51caf6aa67a1fa021b5ac5

[2017-04-19 18:15] #124 closed

[2017-04-19 20:53] rafibomb opened #128 "Magellan on how to page active state issue"
Scrolling about ~ 400px past magellan destination id causes is-active class to be removed even though scrolling is still within correct section.

![5hdcfkko6i](https://cloud.githubusercontent.com/assets/5652085/25201681/716d4e86-2507-11e7-86a9-cea141074f82.gif)

[2017-04-19 20:56] rafibomb commented on #128
Also throwing errors in console as scrolling. 909 by mid page

[2017-04-19 22:49] #101 closed

[2017-04-20 17:07] canterberrie opened #130 "Create new BB: Wide Article Link"
This is a Building Block for our upcoming News/Magazine Kit. For anyone who wants to contribute some building blocks to the site, feel free to comment below to let us know you're taking this one on!

**Description/Interaction:** A wide article link that ideally is used in a list (see example below). Should be super simple because this is meant to be a repeated item.

**Include at least:** article

[2017-04-20 17:13] canterberrie opened #131 "Create new BB: News Image Gallery"
This is a Building Block for our upcoming News/Magazine Kit. For anyone who wants to contribute some building blocks to the site, feel free to assign this to yourself to let us know you're taking this one on!

**Description/Interaction:** A simple image gallery / slider that includes a short description. The Building Block doesn't have to follow the example exactly, feel free to position things ho

[2017-04-20 18:12] canterberrie commented on #130
@IamManchanda You are a rock star! Thanks man :)

[2017-04-20 18:16] kball commented on #128
I believe this is because there are many more `data-magellan-target` elements in the page than in the magellan... was your intent to add those to the nav? Or should I remove them?

[2017-04-20 18:42] abdullahsalem commented on #80
@rafibomb I guess that it could be within the same building-block.
@canterberrie Is it OK to reassign it to me, if you have not yet started?

[2017-04-20 18:51] canterberrie commented on #80
@abdullahsalem I've already started on a BB for this but feel free to create a variation! Wouldn't hurt to have it in different formats. Mine will look something like this:
![screen shot 2017-04-20 at 11 49 19 am](https://cloud.githubusercontent.com/assets/20821433/25247424/9a2bcccc-25bf-11e7-907a-95a126546e46.png)
(from usatoday.com)

[2017-04-20 18:52] canterberrie commented on #80
@abdullahsalem There are also some other BBs that we need help building, if you feel like taking on some other ones.

[2017-04-20 19:02] abdullahsalem commented on #80
It's OK @canterberrie! enjoy coding yours, I am already working on another BB, however I will take a look at the BBs that need help asap.

[2017-04-20 19:29] IamManchanda commented on #130
PR is up #133

-------------------------------------------------------------------------

Yup i am :smiling_imp:

[2017-04-20 20:54] rafibomb commented on #130
Closing for PR!

[2017-04-20 20:54] #130 closed

[2017-04-20 21:23] IamManchanda commented on #131
Ohk will take a look this weekend... Ready to take this up... Please assign me in!!!

[2017-04-20 21:54] canterberrie commented on #131
@IamManchanda you got it!

[2017-04-20 22:04] canterberrie opened #136 "Create new BB: Large Article Header"
This is a Building Block for our upcoming News/Magazine Kit. For anyone who wants to contribute some building blocks to the site, feel free to assign this to yourself to let us know you're taking this one on!

**Description/Interaction:** A nice, large header section for an individual article/blog page. The idea is that this header will be at the very top of the page and provide a nice-looking, fo

[2017-04-20 22:05] canterberrie opened #137 "Create new BB: Simple Article Header"
This is a Building Block for our upcoming News/Magazine Kit. For anyone who wants to contribute some building blocks to the site, feel free to assign this to yourself to let us know you're taking this one on!

**Description/Interaction:** A simple header area for an individual article/blog page. Should include publish date, article title, author, comment sections, social links, and an image (can b

[2017-04-21 03:14] IamManchanda commented on #136
Hmmnn same like medium
Simple but neat and clean!

Taking this up ( not because its easy but because its quite the best on the eye to read when it comes to blogs. )

[2017-04-21 07:55] IamManchanda commented on #137
Christine PR is up #140

[2017-04-21 08:20] IamManchanda opened #141 "[Bug] SCSS Changes need continous refresh - Local Server"
The html and js changes get automatically changed
but for scss mostly i had to refresh again and again!

Is there anything we can do here
Poke @kball

[2017-04-21 09:37] IamManchanda opened #142 "[Flat Design] Floating Label Patterns - Visually showed while a placeholder is hidden"
Forwarded from => https://github.com/zurb/foundation-sites/issues/9645

Motivation => http://bradfrost.com/blog/post/float-label-pattern/
Codepen => http://codepen.io/IamManchanda/pen/zNBPwP

------------------------------------------------------------------------------------------

PS: Visually moved comes under the category of [Material Design](https://github.com/zurb/building-blocks/issues/88)

[2017-04-21 10:00] IamManchanda commented on #142
@kball @rafibomb  i need your help here in my WIP Codepen
=> http://codepen.io/IamManchanda/pen/JNXerr

What i want is to call => `data-floating-label` with an ID with jquery
aka `data-floating-label="name"`
How can i go about it ??

My current JS is here (jquery)

[code]

Here is my HTML ( see `data-floating-label="name"` )

[code]

I hope i am clear!

[2017-04-21 16:48] kball commented on #142
I think @rafibomb has a good and simple implementation of this somewhere...

[2017-04-21 16:52] canterberrie commented on #131
@IamManchanda We're aiming to get the News kit out by the end of today, do you think you'll be able to knock this one out by today? If not, feel free to assign it to me!

[2017-04-21 16:56] canterberrie commented on #100
@IamManchanda do you think you'll be able to knock this out today?

[2017-04-21 17:06] IamManchanda commented on #142
What @rafibomb had was Material Design ( Visually moved )
=> http://foundation.zurb.com/building-blocks/blocks/form-floating-label.html
It was a different building block altogether

But yes if @rafibomb can help me here then it will be great!

[2017-04-21 17:09] canterberrie opened #144 "Like button on building block page is automatically "liked""
Even though I haven't clicked on the "like" button for a Building Block, when I enter the page, it's already "liked".

![screen shot 2017-04-21 at 10 06 46 am](https://cloud.githubusercontent.com/assets/20821433/25288462/5f927b90-267a-11e7-89d3-c024889d35bc.png)
It looks like this even though it's my first time visiting this particular BB.

[2017-04-21 17:16] IamManchanda commented on #131
@canterberrie .... ohk assigned you this one if this is urgent ....
I will do that another one you do this :D

[2017-04-21 17:17] IamManchanda commented on #100
@canterberrie .... You got your wish .... ohk doing it right now!

[2017-04-21 17:52] kball commented on #144
Fixed in https://github.com/zurb/building-blocks/commit/5de83b2ddedf301c7a6928294224d83d0e328332

Deployed and tested.

[2017-04-21 17:52] #144 closed

[2017-04-21 18:05] canterberrie commented on #131
@IamManchanda thanks!

[2017-04-21 18:18] canterberrie commented on #136
@IamManchanda mind if i take this one on?

[2017-04-21 18:26] IamManchanda commented on #136
@canterberrie .... did it and btw you look in rush?? :D

[2017-04-21 18:29] canterberrie commented on #136
@IamManchanda yea we're trying to get the kit ready asap. You have been a huge help! Love your building blocks!

[2017-04-21 18:33] IamManchanda commented on #136
No issue Christine!

[2017-04-21 18:34] kball commented on #141
@tdhartwick is this something you could take a look at?

[2017-04-21 18:35] IamManchanda commented on #141
i press `ctrl + f5` .... dozen's of times.... then it takes the changes

[2017-04-21 20:38] #137 closed

[2017-04-21 21:38] #100 closed

[2017-04-21 21:40] #80 closed

[2017-04-22 02:45] IamManchanda commented on #131
If this missed the deadline and isn't urgent now I would like to take this up back!!!
Thanks @rafibomb @canterberrie

[2017-04-22 03:04] kball commented on #131
Dang @IamManchanda do you even sleep bro? ;)

We decided to delay the actual marketing release of the new Kit to monday, and I didn't see a PR for this before end of day, so I think it's yours if you want it.

[2017-04-22 08:52] IamManchanda commented on #131
lol ... i have a habit of sleeping 6 hours a day ..... currently in office ( saturday-half day ) ... will look to do this ... by tonight or tomm. morning! :D

[2017-04-22 18:24] IamManchanda commented on #136
Closing this as added in #146

[2017-04-22 18:24] #136 closed

[2017-04-23 04:51] IamManchanda opened #148 "[Need Help] Ran into an issue while creating a building block"
I was creating an ecommerce loading button building block
which look to replicate this pen (bootstrap) => http://codepen.io/IamManchanda/pen/oWLyOz

Here is my codepen (foundation) => http://codepen.io/IamManchanda/pen/pPbZZv

Is there anything  i am missing here (javascript) !

cc / @kball

------------------------------------------------------------------------------------------------

Steps to

[2017-04-23 07:31] IamManchanda commented on #148
I think this can be done wih [Toggler](http://foundation.zurb.com/sites/docs/toggler.html) but is it so and how to go about it ?

[2017-04-24 16:26] kball commented on #148
the "loading"/state stuff doesn't have a true equivalent in Foundation... what you want is probably something more like this: http://foundation.zurb.com/building-blocks/blocks/button-add-cart.html or http://foundation.zurb.com/building-blocks/blocks/button-like.html

[2017-04-24 16:31] IamManchanda commented on #148
Thanks for help kev! @kball

[2017-04-24 16:43] #131 closed

[2017-04-24 16:58] IamManchanda commented on #148
Ohk @kball but one more help
updated (but still broken) pen => http://codepen.io/IamManchanda/pen/pPbZZv

how do i call the id's dynamically for every single button that will be added to this!

[code]

[2017-04-24 17:02] IamManchanda commented on #148
Update: sorry i didn't saved the pen ... now i saved it please check now!

[2017-04-24 17:49] kball opened #150 "Responsive Nav with Social not using breakpoint mixin"
It's hard coding a breakpoint, rather than using the mixin, which means it doesn't pick up the user's settings.

[2017-04-24 18:03] IamManchanda commented on #150
:disappointed:

[2017-04-25 16:27] IamManchanda opened #154 "[Javascript] Would like to add JS Filters upon existing components??"
Orignal Source: https://github.com/zurb/foundation-sites/issues/9760

I would like to add Filters for Tables, Lists, Dropdowns for **building blocks**
https://www.w3schools.com/w3css/w3css_filters.asp

cc / @rafibomb for decision on this?

[2017-04-25 17:31] canterberrie opened #155 "Create New BB: Topbar with Icons & Dropdown Menus"
This is a Building Block for our upcoming Social Media Kit. For anyone who wants to contribute some Building Blocks to the site, feel free to comment below to let us know you're taking this one on!

**Description/Interaction:** Topbar with a logo, searchbar, and some simple icon links. Please make at least one of the icons activate a dropdown menu on click. The dropdown menu can look however you w

[2017-04-25 17:42] canterberrie opened #156 "Create New BB: Profile Card with Action Icons"
This is a Building Block for our upcoming Social Media Kit. For anyone who wants to contribute some building blocks to the site, feel free to comment below to let us know you're taking this one on!

**Description/Interaction:** A profile card containing some cool info about the user. Should contain at least a profile image, name, about me section (some area for description or bite-sized info like

[2017-04-25 17:46] IamManchanda commented on #156
Just co-incidentally today i did this at my work .... so no second thoughts on taking this up

[2017-04-25 17:46] canterberrie opened #157 "Create New BB: Status Update Input Box"
This is a Building Block for our upcoming Social Media Kit. For anyone who wants to contribute some building blocks to the site, feel free to comment below to let us know you're taking this one on!

**Description/Interaction:** An area for the user to post a status update. Should include a textarea, some icon buttons, and a submit/post button. Feel free to vary from the sketch or add more function

[2017-04-25 17:49] IamManchanda commented on #157
Sorry on taking up everything but i think i would love to do this so taking up this too!

[2017-04-25 17:51] canterberrie opened #158 "Create New BB: Status Card"
This is a Building Block for our upcoming Social Media Kit. For anyone who wants to contribute some building blocks to the site, feel free to comment below to let us know you're taking this one on!

Description/Interaction: A simple card that displays someone's status update. Would be great to have variations of this - text status, photo upload, sharing a link. Should include at least: a profile a

[2017-04-25 17:54] canterberrie opened #159 "Create New BB: Profile Card with Stats"
This is a Building Block for our upcoming Social Media Kit. For anyone who wants to contribute some building blocks to the site, feel free to comment below to let us know you're taking this one on!

**Description/Interaction:** Another profile card, but this time with some stats. Should include at least a profile pic, name, and stats. Feel free to add more functionality to it.

Please use category

[2017-04-25 17:55] canterberrie commented on #156
@IamManchanda MVP! Thanks!

[2017-04-25 17:56] IamManchanda commented on #159
If anyone is looking to take this up....
Here is a Reference => http://foundation.zurb.com/sites/docs/typography-helpers.html#statistics

Go for it !!!

[2017-04-25 17:59] canterberrie opened #160 "Create New BB: People You Might Know Section"
This is a Building Block for our upcoming Social Media Kit. For anyone who wants to contribute some building blocks to the site, feel free to comment below to let us know you're taking this one on!

**Description/Interaction:** This could be a side bar or it's own section below some statuses... or something else! Feel free to vary from the sketch. Should include at least: header, profile pic & nam

[2017-04-25 18:01] IamManchanda commented on #160
Oh i can't hold myself up .... i want to give other's a chance .... but this one excites me as ever .... taking this up too!

[2017-04-25 18:02] canterberrie opened #161 "Create New BB: Side Bar with Profile"
This is a Building Block for our upcoming Social Media Kit. For anyone who wants to contribute some building blocks to the site, feel free to comment below to let us know you're taking this one on!

**Description/Interaction:** A sidebar with nav links & a profile area. Feel free to expand the functionality of this. Should include at least: profile pic & name, header or breaks, and links.

Please

[2017-04-25 18:08] IamManchanda commented on #156
@canterberrie Welcome christine,
but here is one thing i would like to denote .... this time i can't be urgent ....
but will most probably complete these new requests by this week/weekend!

[2017-04-26 21:02] LaurelBCodin commented on #150
updated! https://github.com/zurb/building-blocks/pull/171

[2017-04-26 21:02] #150 closed

[2017-04-27 05:49] IamManchanda commented on #148
ping @kball ... awaiting reply ??

[2017-04-27 05:49] IamManchanda commented on #142
ping @rafibomb  ... awaiting reply ??

[2017-04-27 17:09] kball commented on #148
A few ways you can do it... probably the easiest is to do it based on parent or sibling ie `$(this).parent().find('[data-loading-end]').removeClass('hide')` or `$(this).siblings('[data-loading-end]').removeClass('hide')`.

You could point from the loading start to the loading end explicitly with an id of some sort, e.g.
[code]
where your js would then look something like
[code]

[2017-04-27 18:32] rafibomb commented on #128
That was it - thanks!

[2017-04-27 18:32] #128 closed

[2017-04-27 18:32] rafibomb commented on #122
fixed

[2017-04-27 18:32] #122 closed

[2017-04-27 20:47] kball opened #177 "Keyboard navigation needs work"
Trying to use the site with just a keyboard is super awkward... I was able to get to search and search for what I wanted, but from there it fell apart

[2017-04-27 20:51] #148 closed

[2017-04-29 02:34] IamManchanda commented on #155
PR is up #182

[2017-04-30 03:08] IamManchanda opened #183 "News Card has a Variable issue on scale-color function"
[src/building-blocks/news-card/news-card.scss#L2](https://github.com/zurb/building-blocks/blob/master/src/building-blocks/news-card/news-card.scss#L2
)

[2017-04-30 03:13] #183 closed

[2017-04-30 04:06] rafibomb opened #185 "Add new BB's"
http://codepen.io/rafibomb/pen/eWvbYo?editors=1100
http://codepen.io/rafibomb/pen/rmmpQa?editors=1100
http://codepen.io/rafibomb/pen/OmmzZv?editors=1100
http://codepen.io/rafibomb/pen/NjjxJo?editors=1100

[2017-04-30 04:30] IamManchanda commented on #185
Yay!

![yeti-ya](https://cloud.githubusercontent.com/assets/4970624/25561498/aa24db0e-2d8b-11e7-9f37-109cfa9c1538.png)

[2017-04-30 07:48] IamManchanda commented on #156
PR is up #186

[2017-04-30 11:11] IamManchanda commented on #157
PR is up #187

[2017-04-30 16:29] IamManchanda commented on #160
PR is up #188

[2017-04-30 18:07] IamManchanda opened #189 "Image not working (Link to Video)"
In `readme.md` the [image](http://www.awesomescreenshot.com/image/2429087/10ea9f2cef6db513cc053717fcfc9fea) is not working!

[2017-05-01 15:45] #156 closed

[2017-05-01 16:08] #157 closed

[2017-05-01 20:31] rafibomb commented on #185
Lol! Done!

[2017-05-01 20:31] #185 closed

[2017-05-01 22:27] rafibomb commented on #189
Thanks - fixed!

[2017-05-01 22:27] #189 closed

[2017-05-01 22:31] rafibomb commented on #142
Oh - yes we have this already -
- http://foundation.zurb.com/building-blocks/blocks/form-floating-label.html
- https://github.com/zurb/building-blocks/pull/164

[2017-05-01 22:34] rafibomb commented on #75
Added

[2017-05-01 22:34] #75 closed

[2017-05-01 22:37] #106 closed

[2017-05-02 23:23] #160 closed

[2017-05-03 16:23] rafibomb opened #195 "Submission - yml file error with extra empty data"
yml file error: when there is an extra tag "-" or bullet with no tag text  in it - it breaks the page entirely.

[2017-05-03 17:00] IamManchanda commented on #158
@canterberrie sorry i am not free right now .... untill weekend
@rafibomb told me that last week that this new kit will go live by thursday .... so unassigning this one

If new kit will go live on or after monday, feel free to reassign me this one!

[2017-05-04 14:52] IamManchanda opened #197 "[Social Color Variables] Youtube has changed color!"
Same like github, Youtube has changed there site and color to black!
Do we need to update youtube color variables ??
The color is => **#232323** aka rgb(35,35,35)

![screenshot from 2017-05-04 20-14-52](https://cloud.githubusercontent.com/assets/4970624/25709449/081f1b2e-3107-11e7-9deb-ea755658eac8.png)

[2017-05-04 14:56] IamManchanda commented on #197
- [ ] [Social Buttons](http://foundation.zurb.com/building-blocks/blocks/social-buttons.html)
- [ ] [Rounded Social Buttons](http://foundation.zurb.com/building-blocks/blocks/rounded-social-buttons.html)
- [ ] [Sticky Social Bar](http://foundation.zurb.com/building-blocks/blocks/sticky-social-bar.html)

[2017-05-04 18:40] Deckluhm commented on #197
No, YouTube is still red, the top-bar is only dark-gray on video pages (for better immersion I guess).

[2017-05-05 01:21] IamManchanda commented on #197
I will keep this PR open
coz they are currently working on the design
We might need to change then!

[2017-05-05 09:47] Deckluhm commented on #197
Because new website designs are always cool, you may still have the "old" YouTube design and want to try the new one: https://www.youtube.com/new

And here is the official blog post about this redesign: https://youtube.googleblog.com/2017/05/a-sneak-peek-at-youtubes-new-look-and.html

@IamManchanda I highly doubt they are going to change the whole YouTube identity (from red to dark-gray) but we ca

[2017-05-06 04:16] IamManchanda commented on #197
Only thing i can say right now is .... coming from dark sublime backgrounds
i am just loving the youtube new design => https://i.imgur.com/l9e2qYU.png

[2017-05-07 05:41] IamManchanda opened #199 "[New Building Block] Create a Countdown Button Timer"
Using this => https://codepen.io/IamManchanda/pen/ZKaJze

Make a Countdown **Button** Timer
=> http://hilios.github.io/jQuery.countdown/

[2017-05-07 09:18] IamManchanda commented on #159
Closing this as added in #180

[2017-05-07 09:18] #159 closed

[2017-05-07 16:48] IamManchanda opened #201 "[New Building Block] Add some Button Hover Effects"
I think can be easily made on top of foundation buttons
Lets do it => http://codepen.io/IamManchanda/pen/BRmrOE?editors=1100

[2017-05-07 17:30] IamManchanda opened #202 "[New Building Block] Need Help: Full Screen Hero Image!"
Just like full screen image slider
=> http://foundation.zurb.com/building-blocks/blocks/fullscreen-image-slider.html

**We are looking for a Full Screen Background Hero Image Building Block**

For anyone who wants to contribute some building blocks to the site, feel free to comment below to let us know you're taking this one on!

Please use category "containers" in `yml` file. Have fun! Go for it!

[2017-05-07 17:32] IamManchanda commented on #202
You can refer => https://www.w3schools.com/howto/howto_css_full_page.asp
as a starting point!

[2017-05-08 17:03] IamManchanda opened #203 "[New Building Block] Simple open and close hamburger menu with Animation"
Example => http://codepen.io/edoardo-bluframe/pen/dMZaMa

**Description/Interaction**: We are looking for a simple building block .... a simple open and close hamburger menu animation! Feel free to vary from example if you want!

[2017-05-08 17:30] IamManchanda opened #204 "[New Building Block] Image Card with description on one side!"
**We are looking for a simple Image Card with description on one side!**

**Description/Interaction**:  A card should have two sides .... One with an image and one with a content .... Example attached .... but feel free to vary from example .... Have Fun ??

![image-card](https://cloud.githubusercontent.com/assets/4970624/25816394/9e387aa0-3441-11e7-9ee2-13636fdeabe6.png)

[2017-05-08 17:31] IamManchanda commented on #204
Whoever wants to take this up
Refer to http://foundation.zurb.com/sites/docs/card.html

[2017-05-09 17:14] IamManchanda opened #205 "[Material Design] Need Help: CSS Only Tabs"
We are looking for new building block "**Material Design CSS Only Tabs**"

Example: https://codepen.io/mildrenben/pen/bdGdOb

**Description/Interaction**: Refer from the above example but feel free to vary ... but please follow the guidelines for the design as per https://material.io/guidelines/components/tabs.html

[2017-05-09 17:54] IamManchanda opened #206 "[Material Design] Create New BB: Material Buttons"
We are looking for a new building blocks "Material Buttons" but on top of [Foundation Buttons](http://foundation.zurb.com/sites/docs/button.html)

Example: http://codepen.io/Fischaela/pen/ahgIy

**Description/Interaction**: Refer to above example, feel free to vary but please follow the design guidelines as per https://material.io/guidelines/components/buttons.html

Variations of the buttons ([Nor

[2017-05-09 19:26] IamManchanda commented on #201
I think this should be challenged to new players so unassigned myself,
Comment below if anyone want to take this up??

[2017-05-12 16:25] pablopaul opened #208 "Topbar Responsive: Menu items misplaced by default / BB Version Support"
I use `Foundation CLI version 2.2.2`.

I created a new project with "Foundation sites" via `foundation new` and used the "Zurb Template".

Then I installed the "Topbar Responsive" BB via `foundation blocks install topbar-responsive`.

Then I start to watch via `foundation watch`.

I added `{{> topbar-responsive}}` in `default.html`
[code]
Accessing `http://localhost:8001/` gives the following outp

[2017-05-12 16:46] rafibomb commented on #208
Are you using the flexbox version? This component was built with flex mode

[2017-05-12 17:51] pablopaul commented on #208
@rafibomb all right, setting `$global-flexbox: true;` in `src/assets/scss/_settings.scss` does fix that.

Where in the according BB page can I see that the flexbox version is required?

[2017-05-12 19:37] jtalarovich opened #209 "linked images in building block not rendering"
I've installed the Zurb template and am adding building blocks using the CLI.  I'm then trying to add the building blocks to my pages using handlebars.  for some reason, the images do not load but everything else seems to function correctly.  Any thoughts on why?

src/pages/test.html
{{>card-profile-stats}}

![screen shot 2017-05-12 at 3 36 32 pm](https://cloud.githubusercontent.com/assets/2435854

[2017-05-12 19:49] jtalarovich commented on #209
another example of the problem i am describing is: fullscreen-image-slider

[2017-05-12 23:10] IamManchanda commented on #209
Images are using sites like pixels, imgur  etc
I think we need to fix that ?
Maybe S3 links
Poke @kball

[2017-05-12 23:15] IamManchanda commented on #209
or maybe as internal images??

[2017-05-13 04:27] pablopaul commented on #208
@IamManchanda what do you mean exactly by

?

Should we open a new Issue regarding "Mention version support for all building blocks" ?

[2017-05-13 10:41] IamManchanda commented on #208
Yup closing this and opening a new thread with the feature request would be ideal

BTW don't forget to link this thread :D

[2017-05-13 10:41] #208 closed

[2017-05-15 08:56] pablopaul opened #211 "Mention version support for all building blocks"
Each building block should mention when it needs flexbox mode to work correctly (since flexbox mode is not the default).

Successor of #208

[2017-05-15 18:59] jtalarovich commented on #209
Here’s what I’ve found, and I’ll just use this one building block as an example:  card-profile-stats

So this is what displays on your building blocks site:
http://foundation.zurb.com/building-blocks/blocks/card-profile-stats-iframe.html

<div class="card-profile-stats">
<div class="card-profile-stats-intro">
<img class="card-profile-stats-intro-pic" src="https://pbs.twimg.com/profile_images/73263

[2017-05-15 19:00] jtalarovich commented on #209
`Here’s what I’ve found, and I’ll just use this one building block as an example:  card-profile-stats

So this is what displays on your building blocks site:
http://foundation.zurb.com/building-blocks/blocks/card-profile-stats-iframe.html

<div class="card-profile-stats">
<div class="card-profile-stats-intro">
<img class="card-profile-stats-intro-pic" src="https://pbs.twimg.com/profile_images/7326

[2017-05-15 19:01] jtalarovich commented on #209
Here’s what I’ve found, and I’ll just use this one building block as an example:  card-profile-stats

So this is what displays on your building blocks site:
http://foundation.zurb.com/building-blocks/blocks/card-profile-stats-iframe.html

`<div class="card-profile-stats">
<div class="card-profile-stats-intro">
<img class="card-profile-stats-intro-pic" src="https://pbs.twimg.com/profile_images/7326

[2017-05-15 19:02] jtalarovich commented on #209
that's not it.  the code on http://foundation.zurb.com/building-blocks/blocks/card-profile-stats-iframe.html  is different than what the building block builds.

[2017-05-15 19:03] IamManchanda commented on #211
cc / @rafibomb !

[2017-05-15 19:04] jtalarovich commented on #209
![screen shot 2017-05-15 at 3 04 16 pm](https://cloud.githubusercontent.com/assets/24358542/26074436/d53feaa4-397f-11e7-997f-ec81ef4bc490.png)

[2017-05-15 19:05] jtalarovich commented on #209
![screen shot 2017-05-15 at 3 04 24 pm](https://cloud.githubusercontent.com/assets/24358542/26074444/e10460d6-397f-11e7-82b4-07f973212ee7.png)

[2017-05-15 19:22] jtalarovich commented on #209
If I go in the partial and change it to the same thing as your card-profile-stats-iframe.html page, all works fine.  I’m basically just swapping out the <img> tag.  Thoughts?

[2017-05-17 18:45] paxperscientiam commented on #204
@IamManchanda I'm trying this one, bud

[2017-05-17 18:46] paxperscientiam opened #212 "slow build"
I am seeing very slow build times. Is everything being re-compiled or just the changed elements?

[code]

[2017-05-17 18:53] IamManchanda commented on #212
Dupe of #141
Yes it's very frustrating!

[2017-05-17 20:50] paxperscientiam commented on #204
@IamManchanda

Note: don't consider this code finished. Very rough sketch.

OK, so there is two things going on here.
* images of differing aspect ratios are made to match heights purely with flexbox.
* vertical division.

Just a proof of concept. The final code will be awesome.

http://codepen.io/paxperscientiam/pen/aWaVmV

[2017-05-18 03:18] #212 closed

[2017-05-18 03:20] paxperscientiam commented on #141
I've done a lot with node-sass and browser-sync, so I'll take a look too.

[2017-05-18 22:44] kball commented on #211
Hey guys - we've just pushed up some work in progress to make this happen, but could use some help in adding requirements to all of the existing building blocks.

I just pushed this up in this branch: https://github.com/zurb/building-blocks/tree/add-dependency-info

This updates the build to look for a `requirements` array in the building block yml file (see https://github.com/zurb/building-blocks

[2017-05-19 03:31] IamManchanda commented on #211
@kball before starting ... I think we should get codepen example also in there same like docs??
What you guys say??

[2017-05-19 05:53] pablopaul commented on #211
@IamManchanda I think a codepen example is another Issue and no requirement for the new requirements block

@kball Thanks for the first step to make `requirements` for BB reality. Can you give potential helping folks a short summary what requirements could be possible besides flexbox?

[2017-05-19 06:00] pablopaul opened #215 "BB Index: Disable Jump on Click on Version and Publish Date Sort Dropdowns"
The version and publish date sort dropdowns on the BB Index page expanding on hover. I am used to click a dropdown to open it ("normal" convention?). So I click on the dropdown to open and use it, that makes me jump onto the head of the page since the anchor links to `#`.

See the following screen record, unfortunately the mouse cursor is not included

![Jumping click](https://media.giphy.com/medi

[2017-05-19 15:47] IamManchanda commented on #211
@pablopaul .... i already have so many created threads (https://git.io/vHfsM) .... i dont think i need to create another .... :smile:
I will get my answer here only i guess .... what you think @kball ..... i think we should have codepen examples too .....
Secondly, i think it can be helpful to find out on the building block healthchecks with both grids (flex, float) by codepen example .... so ther

[2017-05-19 16:05] kball commented on #211
@pablopaul flexbox and css-grid are the 2 main ones that come to mind... maybe also fontawesome (since we use that in many places and it hasn't always been clear to folks).

Longer term, with some additional work, this may open the door to adding dependencies on other 3rd party packages, but for first version probably not.

[2017-05-19 16:09] IamManchanda commented on #211
@kball if the block works with both the grids (flex, float) then what to write ??
For eg => [List Group component](http://foundation.zurb.com/building-blocks/blocks/list-group.html)

[2017-05-19 16:13] kball commented on #211
@IamManchanda if it works with both, and does not itself use flex attributes, no need to have a requirement. If it *does* have flex attributes, please add flexbox requirement

[2017-05-19 16:19] IamManchanda commented on #211
Ohk but what about codepens ?? :smile:

[2017-05-19 17:56] kball commented on #211
@IamManchanda codepens are a good idea, especially now that we figured out how to do the scss dependency stuff in codepen for the docs.  That said, I think that is it's own (moderately large) push.

Our next iteration on the docs will be to do an integration of related building blocks, so perhaps codepens in BBs can be a part of that push, as that will lead to a more unified feeling experience. I'

[2017-05-19 18:03] IamManchanda commented on #211
Ohk ohk... Assign me categories (any u would like)  and I will do!

Secondly, I think we should add font awesome as requirement!

[2017-05-20 09:27] pablopaul commented on #211
@kball @IamManchanda the BB categories are:

* Kits
* Navigation -> @pablopaul
* Status
* Media
* Containers
* Forms
* Control

I will start with Navigation BB´s, @IamManchanda how about to start with Kits?

[2017-05-20 09:42] pablopaul commented on #211
@kball `font-awesome` should be definitely mentioned as requirement when used in BB´s.

[2017-05-20 14:03] IamManchanda commented on #211
@pablopaul kits are combo of the other categories only .... so that's not basically a category!
Kits are a same type of building block (eg.. Blogs Kit)

Besides that,
I have added my assigned category with a checklist in your above comment
But will wait for @kball for revert on font awesome
As i dont want to do reworks :smile: .... even if its just find all replace all :wink:

[2017-05-20 14:16] IamManchanda commented on #197
Youtube Dark in here, https://www.youtube.com/yt/brand/color.html
But still closing this as i dont think, we need a color change!

[2017-05-20 14:16] #197 closed

[2017-05-20 15:56] kball commented on #211
commented on font awesome on the other issue, but generally yes mention it as a dependency.

So that it doesn't feel completely out of the blue/leaving folks stranded, before this goes live I want to add "about" or "how to" pages as urls that these link to (you can see the beginnings of this at https://github.com/zurb/building-blocks/commit/b1176431ae59c981f5f975f883196871ca00b040#diff-1f393f5eed2

[2017-05-23 00:19] kball commented on #211
motion-ui is another dependency to watch for. Noticed some BBs assume it's there.

[2017-05-23 00:29] kball opened #225 "Annotate building blocks with associated components"
Similar to https://github.com/zurb/building-blocks/issues/211 in that we'd like to add additional metadata around building blocks. In this case it is which Foundation components are associated with the block... this will allow us to both autogenerate links to the appropriate docs pages and automatically reference building blocks *from* the docs pages themselves.

I've started the work in https://g

[2017-05-23 14:19] pablopaul commented on #211
@kball I thought we just mention requirements which are not included in the starter projects, `motion-ui` is included by default. Under this assumption, the `flexbox` requirement will become obsolete when it becomes the default mode in grid.

So we also include requirements which are activated in starter projects, correct?

[2017-05-23 16:29] kball commented on #211
So the thing I was thinking is... `motion-ui` is technically a separate package, so if it's required for functioning it should be in there; not everyone uses the ZURB stack and has it added by default.  As we move forward with building blocks, I actually imagine this expanding to allow more extensive package dependencies (e.g. building on top of independent JS packages)

With regards to flexbox, s

[2017-05-23 16:39] IamManchanda commented on #211
Hey guys sorry to be left out with the going process but I am working on menu right now
So I won't be able to contribute until weekend.

That being said I will surely contribute this weekend on this!
I hope this is not urgent.

[2017-05-23 16:40] rafibomb commented on #211
Ok - yes - MotionUI is a separate library but it is included by default in the CSS version through the ZURB stack, so might create confusion to see it required or maybe we add tooltips to mention they likely already have it. jQuery would then fall into the same category.

Agree with @kball on Flex mode - think flexbox needs to be called out (most of the BB's are flex). But would be nice to test so

[2017-05-23 16:51] kball commented on #211
I think there's a distinction between jQuery (*required* to run Foundation JS) and MotionUI (billed as an optional dependency)

[2017-05-23 17:04] rafibomb commented on #211
ok to add - MotionUI with a note that it's included with Foundation

[2017-05-24 21:31] blynnc opened #226 "FLIP CARD - THROUGH THE LOOKING GLASS (title from front card overlays the flip card when flipped - backwards text"
FLIP CARD  - THROUGH THE LOOKING GLASS (title from front card  overlays the flip card when flipped - backwards text

How to reproduce this bug:
1.	Go to Foundation Building Blocks http://foundation.zurb.com/building-blocks/containers.html

2.Go to Containers > Flip Card 3. Click SEE CODE 4. You will notice that the card title in desktop mode does not beahve the same as in mobile mode.

 For exampl

[2017-05-24 21:34] blynnc opened #227 "Social Icon Buttons - double </i></i> on 3rd line in HTML CODE"
BUILDING BLOCKS SOCIAL ICONS

http://foundation.zurb.com/building-blocks/blocks/social-icon-button.html

<a href="#" class="social-icon-button twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a>

<a href="#" class="social-icon-button facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a>

<a href="#" class="social-icon-button gplus"><i class="fa fa-goog

[2017-05-24 21:39] blynnc opened #228 "ROUND FOUNDATION ICONS"
THE NEW FOUNDATION ICON SETS ARE NICE.  HOWEVER THERE SHOULD BE ROUND ONES.

IF I AM RIDING A BICYCLE - I CAN'T DO IT WITH WHEELS THAT ONLY HAVE SLIGHTLY ROUNDED CORNERS.

[2017-05-24 22:02] blynnc opened #229 "STICKY SHRINK NAV HERO"
http://foundation.zurb.com/building-blocks/blocks/sticky-shrinknav.html

Works fine on desktop. Does not behave the same way on mobile in either vertical or horizontal mode.  On IPHONE 6 it does nada.

[2017-05-25 01:00] blynnc opened #230 "THERE SHOULD BE A VIMEO FOUNDATION ICON"
Lots of people use VIMEO as a VIDEO PLATFORM. There should be a VIMEO Foundation icon added.

[2017-05-26 08:05] Deckluhm commented on #228
Unless I missed something, Foundation Icons hasn't been updated for years ([zurb/foundation-icon-fonts](https://github.com/zurb/foundation-icon-fonts), [zurb/foundation-icons](https://github.com/zurb/foundation-icons)) and seems to be an abandoned project.

If you are interested by icons font to use for Building Blocks, you should check this discussion: https://github.com/zurb/building-blocks/issu

[2017-05-26 08:08] Deckluhm commented on #230
Same answer than https://github.com/zurb/building-blocks/issues/228#issuecomment-304219235.

Note that both [Ionicons](http://ionicons.com) and [Font Awesome](http://fontawesome.io) provide Vimeo icons!

[2017-05-26 08:14] Deckluhm commented on #227
I referenced your issue in the corresponding PR: [zurb/building-blocks/pull/179/files#r118654000](https://github.com/zurb/building-blocks/pull/179/files#r118654000)

Thanks for reporting!

[2017-05-26 17:40] rafibomb commented on #227
Good catch! Are you able to submit a fix through PR?

[2017-05-26 17:43] rafibomb commented on #228
@blynnc True - these are Building Blocks using FontAwesome which is the most popular icon set I know of.

A vimeo icon exists in their library and since this is open source, anyone can add it. Are you able to do a pull request to add it?

[2017-05-26 17:44] rafibomb commented on #228
@blynnc Is that what you're looking for? http://foundation.zurb.com/building-blocks/blocks/rounded-social-buttons.html

[2017-05-26 17:56] rafibomb commented on #226
Fixed! Interestingly firefox didn't work unless the whole container has `backface-visibility: hidden;`
https://github.com/zurb/building-blocks/commit/234db3b067a2879a5015cd358fc25d3000ffd810

[2017-05-26 17:56] #226 closed

[2017-05-26 17:56] #228 closed

[2017-05-26 19:06] rafibomb commented on #229
One issue fixed, Safari needs a side position when using absolute. Added the horizontal center mixin

On the scrolling issue - looks like IOS needs another method to detect scrolling: https://stackoverflow.com/questions/2863547/javascript-scroll-event-for-iphone-ipad

Can anyone take on applying the suggested fixes to this component?

[2017-05-29 18:35] blynnc commented on #230
They do indeed. Why is not in Foundaton Icons? If we are going to use Font Awesome - which I agree is Awesome ir Ionicons - why is there a Foundation Icons?

[2017-05-29 18:41] blynnc commented on #230
So because there is not VIMEO icon - i have to use Font Awesome. That makes a lot of sense.

[2017-05-30 07:57] Deckluhm commented on #230
Foundation Icons is a pretty old project created when there were just few similar projects.

There is now pretty popular projects with tons of icons (675 icons in Font Awesome 4.7.0).

Maintaining a icons font requires huge time investment so I guess ZURB decided to stop Foundation Icons development and focus on their other projects (Foundation for Sites, Foundation for Emails, more recently Build

[2017-05-30 10:16] nitrokevin opened #231 "Scroll Hiding Nav"
I'm having problems with the "Scroll Hiding Nav" building block, on Safari (iOS and desktop) when you scroll beyond the top of the page (up not down) the hidden class will be triggered when it isn't meant to be, this doesn't happen on Chrome or other browsers.

Take a look at the building bock here, if you scroll back up too far, the hiding will be triggered on safari and the nav will disappear  h

[2017-06-09 04:14] pablopaul opened #234 "Topbar Center Logo: Should the logo link to the index?"
Should the logo be wrapped with a link to the site index here:
https://github.com/zurb/building-blocks/blob/master/src/building-blocks/topbar-center-logo/topbar-center-logo.html#L4

Isn´t that "best practice"? What do you think?

cc @IamManchanda

[2017-06-11 11:11] IamManchanda commented on #234
`<a href='#"><img src="http://placehold.it/100x39" alt="" /></a>` would be better!

[2017-06-12 07:00] pablopaul commented on #234
@IamManchanda would be a nice "first PR", do yu have such a label for contributors which contribute for the first time?

[2017-06-13 17:31] #234 closed

[2017-06-18 14:13] HansUXdev opened #236 "readme is outdated"
The syntax for the block grid was (wrongly) changed. It now requires the (unnecessarily redundant) .column-block class in addition to the .column class.
-_-
http://foundation.zurb.com/building-blocks/assets/img/images/howto-layouthtml.png

[2017-06-22 05:08] paxperscientiam commented on #225
@kball a suggestion. Why not poke the authors of these building blocks? It's a bit hard to reverse-engineer, so to speak, to figure out the required partials/components.

[2017-06-24 08:55] blynnc opened #237 "FLIP CARD - THROUGH THE LOOKING GLASS - FIX FOR BACKWARDS FRONT TITLE SHOWING THROUGH ON THE FLIP"
I could not find my original post.
http://foundation.zurb.com/building-blocks/containers.html
FLIP CARD

on the flip - on desktop - the front title shows up on the backface and is backwards --

The fix I found ---  add
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;

to flip-card-inner
Redundnant but it does the trick.

flip-card-inner {
  transition: 0.6s;
  -webkit-transf

[2017-06-27 21:39] altair-bryan opened #239 "Embeds/Videos move to the bottom corner of the webpage on scroll"
The new Foundation docs have a cool feature when you scroll on a page with an embed/video the video continues to play in the bottom corner of the webpage. I think this would make a nice building block.

You can see an example if you visit this page - http://foundation.zurb.com/sites/docs/reveal.html and begin scrolling down on the webpage. Once you get past the video is shows up in the lower right

[2017-06-27 21:42] IamManchanda commented on #239
Thanks @altair-bryan :)

[2017-06-28 13:57] eli-townsend commented on #205
@IamManchanda Are you looking to have the default app bar with it?

[2017-06-28 17:23] IamManchanda commented on #205
@eli-townsend Yes why not!

[2017-07-05 20:38] eli-townsend commented on #205
https://github.com/zurb/building-blocks/pull/240

[2017-07-09 21:48] HansUXdev opened #241 "External Dependencies?"
Read through the docs and watched the videos about submitting a building block but I didn't see any mention of external dependency scss or js.

So my question(s) are:
1). is a building block supposed to be completely vanilla other then using foundation?
2). can they use an api or external library (such as google maps, Textillate, WOW.js, charts.js, etc)
3). how would you add the external library o

[2017-07-23 09:20] HansUXdev commented on #205
I've been waiting for BB to support email components before I submit this and a css only offcanvas...

[2017-08-01 15:57] kball opened #243 "How to contribute needs to be more obvious"
On the phone walking through building blocks with someone, & they had trouble finding how to contribute.

[2017-08-08 21:42] colinmackinlay opened #246 "Bug with cloning for contributing"
Hi - I'm trying to contribute a block so have followed the instructions in the video but even an unmodified copy fails to compile locally:

[code]
Fails at "buildingBlockSass":
[code]

[2017-08-10 00:14] #209 closed

[2017-08-12 20:09] #236 closed

[2017-09-15 20:06] #205 closed

[2017-09-15 20:07] rafibomb commented on #205
Merged PR by @eli-townsend

[2017-09-25 19:34] QamarS opened #250 "foundation Building Block Kits - Install Error"
C:\Users\556383\ATLAS>foundation -v
Foundation CLI version 2.2.3

But when I try to run "foundation kits install blog", I am seeing an error -
C:\Users\556383\ATLAS>foundation kits install blog
error fetching file /building-blocks/data/kits.json
undefined:1

SyntaxError: Unexpected end of JSON input
    at Object.parse (native)
    at C:\Users\556383\AppData\Roaming\npm\node_modules\foundation-cli

[2017-09-25 22:33] bxmas13 commented on #250
I'm having the same issue with:
foundation kits list
foundation kits install
foundation blocks list
foundation blocks install

**ERROR:**
  C:\xampp\htdocs\server.website123.com\htdocs\autoship_admin2> foundation kits install
error fetching file /building-blocks/data/kits.json
undefined:1

SyntaxError: Unexpected end of JSON input
    at Object.parse (native)
    at C:\Users\MYUSERNAME\AppData\Roa

[2017-09-25 23:18] bxmas13 commented on #250
I found the problem. The code in the fetch-url function was pointing to 'http:', which would cause an error when foundation redirected(301) to 'https:'.

Here is how I fixed it:
1. Edit C:/Users/YOURUSERNAME/AppData/Roaming/npm/node_modules/foundation-cli/lib/util/fetch-url.js

Change
`var http = require('http');`
to
`var http = require('https');`

Blocks and kits should now list and install from

[2017-09-28 17:25] rafibomb commented on #241
Right now there are no external dependancies or affordance for them.

It would be nice to have a library of modified 3rd party libraries that can just drop into Foundation.
Things needed to make that happen:

- The name and location of the library listed on the page
- A way to import a dependency per building block either through CDN or package install
- A "required" notice on the building block t

[2017-12-08 05:55] vallyol opened #255 "Building blocks with xy-grid"

[2017-12-11 01:54] #255 closed

[2017-12-16 10:46] fjluartes commented on #250
I'm also encountering this error on the following commands:

foundation kits list
foundation kits install
foundation blocks list
foundation blocks install

Here is my error message:

error fetching file /building-blocks/data/building-blocks.json
undefined:1

SyntaxError: Unexpected end of JSON input
    at JSON.parse (<anonymous>)
    at C:\Users\Administrator\AppData\Roaming\npm\node_modules\foun

[2018-01-16 00:56] rafibomb opened #257 "Expandable Search bar CSS needs reformatting"
Issues:
- svg size not scoped to main class
- class name should be improved to something like .expandable-search
- unneeded margin used in parent class
- hardcoded color should be variable
- transition only work in one direction

[2018-02-12 20:58] scottshuffler opened #259 "multilevel-offcanvas-menu not working in 6.4"
[Multilevel-offcanvas-menu](https://foundation.zurb.com/building-blocks/blocks/multilevel-offcanvas-menu.html) does not completely function in 6.4

Since upgrading from 6.3 -> 6.4 I get a warning saying to use $offcanvas-vertical-sizes / $offcanvas-sizes instead of $offcanvas-vertical-size / $offcanvas-size.

Changing this breaks the set width of the menu and hides the MENU text when the menu is c

[2018-02-13 16:33] dgobnto opened #260 "Animated Dropdown unusable with multiple submenus"
I need help improving the 'Animated Dropdown' Foundation Building Block.
[https://foundation.zurb.com/building-blocks/blocks/dropdown-animated.html]

If the Dropdown Menu has more than one submenu they would open all at once. Which would be a good approach to prevent this behavior?

Thank you.

[2018-02-13 20:22] scottshuffler commented on #259
1) Had to use a map such as ``` $offcanvas-sizes: (
  small: 250px,
  medium: 350px,
  large: 320px,
); ``` outlined [here](https://foundation.zurb.com/sites/docs/off-canvas.html#off-canvas-sizes). Doing this allowed the MENU box to slide correctly and not be hidden anymore.

2) The dropdown arrows were missing because of a missing reference to accordion-menu in the ul.

My code was
[code]

Had to

[2018-02-13 21:02] scottshuffler commented on #259
3) Had to update the scss from
[code]
to
[code]

[2018-02-14 06:25] dgobnto commented on #260
I fix it by moving the functions to enter and leave mouse events on the the list items, instead of the plugin's events.
But I'm not sure it's the best approach.

Here's my final code:
[code]

[2018-03-02 15:38] jhult opened #262 "Broken link on website"
Starting here: https://foundation.zurb.com/templates.html

Clicking _Building Blocks_ points to: http://patterntap.com/code

Which redirects to: https://zurb.com/building-blocks

[2018-06-29 20:24] nickmagee commented on #262
Fixed: https://github.com/zurb/foundation6-marketing/commit/e20916e920b47c324500076cb346114b27e022a3